{% extends "form.html.twig" %}

{% block title %} Sign In {% endblock %} 

{% block stylesheet %} <link rel="stylesheet" type="text/css" href="{{ asset('../css/registerSignIn.css') }}" />  {% endblock %} 

{% block header%}<h1 class="header sign_in_header col-12 text-center"> Sign In </h1>{% endblock %}

{% block form %}
    
    <div class="form_input row">

        <div class="form_widget">
            {{form_start(form, {'attr': {'no-validate': 'no-validate'}})}}
                {{form_widget(form.authUserName, {'attr': {'class' : 'form-control', 'placeholder': 'Username', 'style':'height: 50px; width: 80%'}})}}
                {{form_widget(form.authPassword, {'attr': {'class' : 'form-control', 'placeholder': 'Password', 'style':'height: 50px; width: 80%'}})}}
            {{form_end(form)}}
        </div>

    </div>

    <div class="btns text-center">
    
        <a href="/register" class="register_anchor">
            <div class="register_btn button col-4 col-md-4 col-lg-3 position-relative top-0 start-50 translate-middle-x">Register</div>
        </a>

    </div>

{% endblock %}
